@import url("../fonts//Montserrat.css");

.Home {
    background-color: #F9F4F1;
    height: 500px;
    display: flex;
}


.tituloPrincipal {
    color: #2B1B12;
    font-family: 'Montserrat';
    font-size: 50px;
}

.conteudoEscrito {
    padding-left: 20rem;
    padding-top: 5rem;
}

.paragrafoPrincipal {
    font-family: 'Montserrat';
    font-weight: bold;
}

.btnHome {
    background: none;
    border: none;
    cursor: pointer;
    background-color: #2B1B12;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
}

.imgHouseHome {
    width: 900px;
    padding-left: 15rem;
    transform: translate(-120px, -100px);
}