@import url("../fonts//Montserrat.css");

.dreamHouseDiv {
    display: flex;
    padding-top: 10rem;
    padding-left: 5rem;
    gap: 210px;
}

h3 {
    color: #2B1B12;
    font-family: 'Montserrat';
    font-size: 30px;
    padding-bottom: 1.5rem;
}

.paragrafoDreamHouse {
    color: #2B1B12;
    font-family: 'Montserrat';
    line-height: 40px;
}