@import url("../fonts//Montserrat.css");

.tituloResidenciasPopulares {
    color: #2B1B12;
    font-size: 50px;
    text-align: center;
    font-family: Montserrat;
}

.flexbox {
    display: flex;

}

.divFlexBoxDivCasasVendas {
    background-color: #DDC7BB;
    height: 600px;
}

.divFlexBoxDivCasasVendas {
    border-radius: 20px;
}

.divFlexBoxDivCasasVendas img {
    border-radius: 20px 20px 0px 0px;

}