@import url("../fonts//Montserrat.css");

.tituloResidenciasPopulares {
    color: #2B1B12;
    font-size: 50px;
    text-align: center;
    font-family: Montserrat;
}

.flexbox {
    display: flex;

}

.imgDaCasaNaVendaOurPopularesResidences {
    border-radius: 20px 20px 0px 0px;
}

.residenciasPopularesFlexBox {
    gap: 130px;
}

.divFlexBoxDivCasasVendas {
    background-color: #DDC7BB;
    height: 600px;
}

.divFlexBoxDivCasasVendas {
    border-radius: 20px;
}


.listaIconeEnomeCidade {
    list-style-type: none;
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    gap: 20px;
    color: #2B1B12;
}

.imgListaUlTamnhoDaCasa {
    background-color: #FFFFFF;
    padding: 2px;
    border-radius: 5px;
}

.itemListaCidade {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
}

.tamanhoDaCasa {
    display: flex;
    gap: 25px;
    padding-left: 1rem;
    padding-top: 1rem;
}

.listaUlTamnhoDaCasa {
    display: flex;
    color: #4F3527;
    font-family: Montserrat;
    font-weight: 700;
    gap: 10px;
    list-style-type: none
}


.compraEpreco {
    display: flex;
    gap: 20px;
    padding-left: 2rem;
    padding-top: 2rem;
}

.listaBtnComprar {
    list-style: none;
}

.btnComprarCasa {
    background: none;
    border: none;
}