@import url("../fonts//Montserrat.css");

.tituloResidenciasPopulares {
    color: #2B1B12;
    font-size: 50px;
    text-align: center;
    font-family: Montserrat;
}

.flexbox {
    display: flex;

}

.residenciasPopularesFlexBox {
    gap: 130px;
}

.divFlexBoxDivCasasVendas {
    background-color: #DDC7BB;
    height: 600px;
}

.divFlexBoxDivCasasVendas {
    border-radius: 20px;
}

.divFlexBoxDivCasasVendas img {
    border-radius: 20px 20px 0px 0px;

}

.listaIconeEnomeCidade {
    list-style-type: none;
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    gap: 20px;
    color: #2B1B12;
}

.itemListaCidade {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
}

.tamanhoDaCasa {
    display: flex;
}

.listaUlTamnhoDaCasa {
    display: flex;
    color: #4F3527;
    font-family: Montserrat;
}