@import url("../fonts//Montserrat.css");

.escolhaDeCasa {
    background-color: #e0dbdb;
    height: 500px;
}

.tituloWhyChose {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 40px;
}

.conteudoChoose {
    text-align: center;
    font-size: 25px;
    color: #4F3527;
    font-family: Montserrat;
}